services:

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: travel
      POSTGRES_PASSWORD: travel123
      POSTGRES_DB: travel_db
    ports:
      - "5432:5432"
